<!DOCTYPE html>
<html>
    <head>
        <title>Satellite Asset Trackers</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Satellite Asset Trackers</a></h1>
        </header>
        {% for post in posts %}
        
            <article>
                <time>published: 4.29.2025, 1:43pm</time>
                <h2><a href="">My first post</a></h2>
                <p>GPS satellite based positioning and Satellite based telecommunications technology allows the tracking of items traveling overseas or long distances.</p>
            </article>

            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}

    </body>
</html>